@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

@font-face {
  font-family: 'Righteous';
  src: url('/fonts/righteous/Righteous-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Righteous';
  background-color: #ffffff;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.roboto-mono {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-weight: 900;
}
.product-box{
  height: 400px;
  width:350px;
  background-color:#f3f3f3;
  border:2px solid hsla(252, 38%, 97%, 0.705);
  box-shadow:  10px 10px 30px rgba(0, 0, 0, 0.493),inset -10px -10px 30px rgba(255, 255, 255, 0.352);
  margin:10px;
  border-radius:20px;
  padding: 2px;
  
}